.Pokedex {
  text-align: center;
}

.Pokecards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Pokedextitle {
  color: gray;
}

.Pokewinner {
  color: #4caf50;
}

.Pokeloser {
  color: #e91e63;
}